<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Modern Shoppe a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Single ::
		w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--//for-mobile-apps -->
	<!--Custom Theme files -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//Custom Theme files -->
	<!--js-->
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/modernizr.custom.js"></script>
	<!--//js-->
	<!--flex slider-->
	<script defer src="/javascripts/jquery.flexslider.js"></script>
	<link rel="stylesheet" href="/stylesheets/flexslider1.css" type="text/css" media="screen" />
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!--flex slider-->
	<script src="/javascripts/imagezoom.js"></script>
	<!--cart-->
	<script src="/javascripts/simpleCart.min.js"></script>
	<!--cart-->
	<!--web-fonts-->
	<link
		href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic'
		rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
	<!--web-fonts-->
	<!--animation-effect-->
	<link href="/stylesheets/animate.min.css" rel="stylesheet">
	<script src="/javascripts/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!--//animation-effect-->
	<!--start-smooth-scrolling-->
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!--//end-smooth-scrolling-->
</head>

<body>
	<!--header-->
	{{> header}}
	<!--//header-->
	<!--breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Details</li>
			</ol>
		</div>
	</div>
	<!--//breadcrumbs-->
	<!--single-page-->
	<div class="single">
		<div class="container">
			<div class="single-info">
				{{#with details}}
				<div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
					<div class="flexslider">
						{{#each cover as | value |}}
						<ul class="slides">
							<li data-thumb={{value}}>
								<div class="thumb-image"> <img src={{value}} data-imagezoom="true"
										class="img-responsive" alt=""> </div>
							</li>
						</ul>
						{{/each}}
					</div>
				</div>
				<div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated"
					data-wow-delay=".5s">
					<h3>{{title}}</h3>
					<div class="single-rating">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5" checked>
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3">
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
						<p>5.00 out of 5</p>
						<a href="#">Add Your Review</a>
					</div>
					<h6 class="item_price">${{price}}</h6>
					<p>{{intro}}</p>
					<ul class="size">
						<h4>Size</h4>
						{{#each size as | value |}}
						<li><a href="#">{{value}}</a></li>
						{{/each}}
					</ul>
					<ul class="color">
						<h4>Color</h4>
						{{#each color as | value |}}
						<li><a href="#" class={{value}}></a></li>
						{{/each}}
					</ul>
					<div class="clearfix"> </div>
					<div class="quantity">
						<p class="qty"> Qty : </p><input min="1" type="number" value="1" class="item_quantity">
					</div>
					<div class="btn_form">
						<a href="#" class="add-cart item_add">ADD TO CART</a>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
			<!--collapse-tabs-->
			<div class="collpse tabs">
				<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".5s">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									Description
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
							aria-labelledby="headingOne">
							<div class="panel-body">
								{{description}}
							</div>
						</div>
					</div>
					<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".6s">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
									href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									additional information
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="headingTwo">
							<div class="panel-body">
								{{more}}
							</div>
						</div>
					</div>
					<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".7s">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
									href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									reviews (5)
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="headingThree">
							<div class="panel-body">
								{{reviews}}
							</div>
						</div>
					</div>
					<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".8s">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
									href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									help
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="headingFour">
							<div class="panel-body">
								{{help}}
							</div>
						</div>
					</div>
				</div>
				{{/with}}
			</div>
			<!--//collapse -->
			<!--related-products-->
			{{!-- <div class="related-products">
				<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
					<h3 class="title">Related<span> Products</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur </p>
				</div>
				<div class="related-products-info">
					{{#each list}}
					<div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
						<div class="new-top">
							<a href="/products/{{slug}}"><img src="{{cover}}" class="img-responsive" alt="" /></a>
							<div class="new-text">
								<ul>
									<li><a class="item_add" href=""> Add to cart</a></li>
									<li><a href="/products/{{slug}}">Quick View </a></li>
									<li><a href="/products/{{slug}}">Show Details </a></li>
								</ul>
							</div>
						</div>
						<div class="new-bottom">
							<h5><a class="name" href="/products/{{slug}}">Baby Red Dress </a></h5>
							<div class="rating">
								<span class="on">☆</span>
								<span class="on">☆</span>
								<span class="on">☆</span>
								<span class="on">☆</span>
								<span>☆</span>
							</div>
							<div class="ofr">
								<p class="pric1"><del>${{basePrice}}</del></p>
								<p><span class="item_price">${{salePrice}}</span></p>
							</div>
						</div>
					</div>
					{{/each}}
					<div class="clearfix"> </div>
				</div>
			</div> --}}
			<!--//related-products-->

			{{!-- {{> relatedProducts cover = list.cover}} --}}
		</div>
	</div>
	<!--//single-page-->
	<!--footer-->
	{{> footer}}
	<!--//footer-->
	<!--search jQuery-->
	<script src="/javascripts/main.js"></script>
	<!--//search jQuery-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!--Bootstrap core JavaScript
    ================================================== -->
	<!--Placed at the end of the document so the pages load faster -->
	<script src="/javascripts/bootstrap.js"></script>
</body>

</html>